<div class="jumbotron">
   <h1>Add territory</h1>
  <p class="lead">Here you can add a territory</p>
  <hr class="my-4">
  <p>Give it a try</p>
</div>

<form>
  <div class="form-group">
    <label for="territoryName">Territory name</label>
    {{input value=model.name type="text" class="form-control" id="territoryName" placeholder="Enter territory name"}}
  </div>
  
  <div class="form-group">
    <label for="representativeName">Representative name</label>
    {{input value=model.representative type="text" class="form-control" id="representativeName" placeholder="Enter representative name"}}
  </div>
 
  <button class="btn btn-primary" {{action 'submit'}} >Submit</button>
</form>