<div class="jumbotron">
  <h1 class="display-4">Hello</h1>
  <p class="lead">How are you?</p>
  <hr class="my-4">
  <p>This is a barebone demo app showing how to use Ember.JS for front, Mirage for JSON API and Bootstrap for styling 
	  <br/><br/><!--yes, i know :)-->
	  It shows usage of these features:<br/>
	  <ul>
		<li>CRUD</li>
		<li>Using Bootstrap with Ember</li>
		<li>Using Mirage for mock JSON endpoint</li>
		<li>Filtering</li>
		<li>Relationships</li>
		<li>Testing</li>
	  </ul>
	  It does <b>NOT</b> show usage of these features:<br/>
	  <ul>
		<li>i18n</li>
		<li>components</li>
		<li>inheritance</li>
		<li>reuse</li>
		<li>usability</li>
		<li>UI design</li>
		<li>grid</li>
		<li>validation</li>
		<li>breadcrumbs</li>
		<li>navigation</li>
		<li>pagination</li>
		<li>error handling</li>
		<li>navigation</li>
		<li>etc</li>
	  </ul>
	  <br/><br/>Please use top menu above to navigate.<br/> <br/>
	  <i>BR, Tomasz Smykowski</i>
  </p>
</div>