<div class="jumbotron">
<h1>Lawyer {{model.name}}</h1>
  <p class="lead">Here are details about a lawyer.</p>
  <hr class="my-4">
  <p>Here you can see information about a {{model.name}} {{model.secondname}} lawyer! Not so much, but still. It is something :)</p>
</div>
